---

---

$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;


:root {
  font-size: 16px;
  font-family: 'Open Sans';
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: $bg-primary;
  transition: width 600ms eaase;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $text-primary;
  text-decoration: none;
  transition: $transition-speed;
}

.nav-link:hover {
  background-color: $bg-secondary;
  color: $text-secondary;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: $text-secondary;
  background: $bg-secondary;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: $transition-speed;
}

/* Small devices */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large Devices */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
