.navbar {
  background-color: $background-color;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $primary-text-color;
  text-decoration: none;
}

.nav-link:hover {
  background-color: mix(#000, $primary-color, 50%);
  color: $secondary-text-color;
}

.link-text {
  margin-left: 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: $secondary-text-color;
  background: $code-background-color;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}