/*

Variables

*/

//Typography
$doc-font-size: 16 !default;

// Paragraph
$paragraph-indent: false !default;
$index-var: 1.3em;

// Typefaces
$monospace: 'Fira Code', monospace !default;
$sans-serif: 'Open Sans', sans-serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$monospace-font-family: $monospace !default;


/*

Colors

*/

// Background and Foreground
$gray: #7a8288;
$dark-gray: mix(#000, $gray, 50%);
$darker-gray: mix(#000, $gray, 60%);
$light-gray: mix(#fff, $gray, 50%);
$lighter-gray: mix(#fff, $gray, 90%);

$background-color: $darker-gray !default;
$code-background-color: $dark-gray !default;
$primary-text-color: $light-gray !default;
$muted-text-color: mix(#fff, $primary-text-color, 20%) !default;
$secondary-text-color: $lighter-gray !default;

//Tint
$primary-color: #ad0017 !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$focus-color: $primary-color !default;



//Nav
$nav-body-color: $dark-gray;
$nav-primary-text-color: $primary-text-color;
$nav-secondary-text-color: $secondary-text-color;
