@charset "utf-8";
@import "mq-new/variables";

@import "mq-new/base";
@import "mq-new/nav";

/* Small devices */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large Devices */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 16rem;
    height: 100vh;
  }


  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
