<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <!-- General meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if site.css_inline == true %}
        {% capture styles %}
        @import "mq-new";
        {% endcapture %}
        <style>{{ styles | scssify | strip_newlines }}</style>
        {% else %}
        <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
        {% endif %}
    </head>

    <body>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="#" class="nav-link">
                    <span class="link-text logo-text">COMP1000</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text">COMP1000</span>
                </a>
            </li>
        </ul>
    </nav>

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

    </body>
</html>